{% extends "base.html" %} {% block content %} {% if n_results == 0 %}
<div class="banner-no-results">
  <img src="{{ url_for('static', filename='assets/No_Results.gif') }}" />
</div>

{% else %}
<body style="margin-top: 20px">
  <main class="table">
    <style>
      .table {
        margin: 25px auto 25px auto !important;
        position: relative !important;
        width: fit-content !important;
        justify-content: center !important;
        overflow: hidden !important;
      }
    </style>

    <section
      class="table__header"
      style="background-color: maroon; height: 60px"
    >
      <h1 align="center">Show(s) with Genre '{{ genre_name }}'</h1>
    </section>

    {% if n_movies_genre > 0 %}
    <section class="table__body" style="justify-content: center">
      <!-- MOVIES  -->

      <main class="table">
        <section class="table__header">
          <h1 align="center">Movies</h1>
        </section>

        <section class="table__body">
          <table>
            <thead>
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Year</th>
                <th>Duration</th>
              </tr>
            </thead>

            {% for movie in movies_genre %}
            <tbody>
              <tr>
                <td>
                  <a href="/movies/{{ movie.show_id }}">{{ movie.show_id }}</a>
                </td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.release_year }}</td>
                <td>{{ movie.duration }}</td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </section>
      </main>
    </section>
    {% endif %} {% if n_tvshows_genre > 0 %}
    <section class="table__body">
      <!-- TV SHOWS -->
      <main class="table">
        <section class="table__header">
          <h1 align="center">TV Shows</h1>
        </section>

        <section class="table__body">
          <table>
            <thead>
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Year</th>
                <th>Duration</th>
              </tr>
            </thead>

            {% for tvshow in tvshows_genre %}
            <tbody>
              <tr>
                <td>
                  <a href="/tvshows/{{ tvshow.show_id }}"
                    >{{ tvshow.show_id }}</a
                  >
                </td>
                <td>{{ tvshow.title }}</td>
                <td>{{ tvshow.release_year }}</td>
                <td>{{ tvshow.duration }}</td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </section>
      </main>
    </section>
    {% endif %}
  </main>
</body>
{% endif %} {% endblock %}
