{% extends "base.html" %} {% block content %}

<body>
  <main class="table" style="margin-top: 35%">
    <style>
      .table {
        margin: 60px auto 25px auto !important;
        position: relative !important;
        width: fit-content !important;
        justify-content: center !important;
        overflow: hidden !important;
      }
    </style>
    <section class="table__header">
      <h1 align="center">Countries List</h1>
    </section>

    <section class="table__body">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
          </tr>
        </thead>

        {% for country in countries %}
        <tbody>
          <tr>
            <td>
              <a href="/countries/{{ country.country_id }}"
                >{{ country.country_id }}</a
              >
            </td>
            <td>{{ country.name }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </section>
  </main>
</body>
{% endblock %}
