{% extends "base.html" %} {% block content %}

<body>
  <main class="table">
    <style>
      .table {
        margin: 60px auto 25px auto !important;
        position: relative !important;
        width: fit-content !important;
        justify-content: center !important;
        overflow: hidden !important;
      }
    </style>
    <section class="table__header">
      <h1 align="center">Movies List</h1>
    </section>

    <section class="table__body">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Year</th>
            <th>Duration</th>
          </tr>
        </thead>

        {% for movie in movies %}
        <tbody>
          <tr>
            <td>
              <a href="/movies/{{ movie.show_id }}">{{ movie.show_id }}</a>
            </td>
            <td>{{ movie.title }}</td>
            <td>{{ movie.release_year }}</td>
            <td>{{ movie.duration }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </section>
  </main>

  <div class="pagination-container">
    <div class="pagination">
      <button class="btn1Movie" id="btn1Movie" onclick="backBtnMovie()">
        <img
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fclipground.com%2Fimages%2Farrow-png-transparent-11.png&f=1&nofb=1&ipt=4c43d03fa196be91c23ae9eb1dcf13bdeddbdf342ce7811ee135d644818a5ed3&ipo=images"
        />
        prev
      </button>
      <ul>
        <li class="linkMovie active" value="1" onclick="activeLinkMovie(event)">
          <a href="/movies/P1">1</a>
        </li>
        <li class="linkMovie" value="2" onclick="activeLinkMovie(event)">
          <a href="/movies/P2">2</a>
        </li>
        <li class="linkMovie" value="3" onclick="activeLinkMovie(event)">
          <a href="/movies/P3">3</a>
        </li>
        <li class="linkMovie" value="4" onclick="activeLinkMovie(event)">
          <a href="/movies/P4">4</a>
        </li>
        <li class="linkMovie" value="5" onclick="activeLinkMovie(event)">
          <a href="/movies/P5">5</a>
        </li>
        <li class="linkMovie" value="6" onclick="activeLinkMovie(event)">
          <a href="/movies/P6">6</a>
        </li>
      </ul>
      <button class="btn2Movie" id="btn2Movie" onclick="nextBtnMovie()">
        next
        <img
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fclipground.com%2Fimages%2Farrow-png-transparent-11.png&f=1&nofb=1&ipt=4c43d03fa196be91c23ae9eb1dcf13bdeddbdf342ce7811ee135d644818a5ed3&ipo=images"
        />
      </button>
    </div>
  </div>
</body>
{% endblock %}
