<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Netflix DataBase</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <a class="logo" href="/"
        ><img
          src="{{ url_for('static', filename='assets/Netflix.gif') }}"
          width="100"
          height="100"
      /></a>

      <nav class="navigation">
        <a href="/movies/" id="movies" class="nav-link active">Movies</a>
        <a href="/tvshows/" id="tvshows" class="nav-link active">TV Shows</a>
        <a href="/genres/" id="genres" class="nav-link active">Genres</a>
        <a href="/countries/" id="countries" class="nav-link active"
          >Countries</a
        >
        <a href="/ratings/" id="ratings" class="nav-link active">Ratings</a>
        <a href="/actors/" id="actors" class="nav-link active">Actors</a>
        <a href="/directors/" id="directors" class="nav-link active"
          >Directors</a
        >

        <div class="search-bar">
          <input
            type="text"
            id="search-input"
            onkeypress="handleKeyPress(event)"
            placeholder="Search..."
          />
          <button type="button" class="search-btn" onclick="performSearch()">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </nav>
    </header>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

    <section class="content">
      <header>{% block header %}{% endblock %}</header>
      {% block content %}{% endblock %}
    </section>
  </body>
</html>
