{% extends "base.html" %} {% block content %}

<head>
  <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />
</head>

<body>
  <style>
    body {
      background: url("/static/assets/Background_Mountain.jpg") no-repeat !important;
      background-size: cover !important;
      background-position: top !important;
    }
  </style>
  <div class="home-container" style="margin-top: 3%;">
    <div class="home-content">
      <h2 class="home-logo"><i class="bx bxl-imdb"></i> Netflix Database</h2>

      <div class="home-text-sci">
        <h2>Welcome!<br /><span>To Our Web Application.</span></h2>
        <p>
          [ Project for the DataBases Class ]
        </p>

        <div class="home-social-icons">
          <a href="https://www.facebook.com/netflix/" target="_blank"
            ><i class="bx bxl-facebook"></i
          ></a>

          <a href="https://www.instagram.com/netflix/" target="_blank"
            ><i class="bx bxl-instagram"></i
          ></a>

          <a href="https://twitter.com/netflix" target="_blank"
            ><i class="bx bxl-twitter"></i
          ></a>

          <a href="https://www.tiktok.com/@netflix/" target="_blank"
            ><i class="bx bxl-tiktok"></i
          ></a>
        </div>
      </div>
    </div>
</body>
{% endblock %}
