{% extends "base.html" %} {% block content %}

<body>
  <main class="table">
    <style>
      .table {
        margin: 60px auto 25px auto !important;
        position: relative !important;
        width: fit-content !important;
        justify-content: center !important;
        overflow: hidden !important;
      }
    </style>
    <section class="table__header">
      <h1 align="center">Movies List</h1>
    </section>

    <section class="table__body">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Year</th>
            <th>Duration</th>
          </tr>
        </thead>

        {% for movie in movies %}
        <tbody>
          <tr>
            <td>
              <a href="/movies/{{ movie.show_id }}">{{ movie.show_id }}</a>
            </td>
            <td>{{ movie.title }}</td>
            <td>{{ movie.release_year }}</td>
            <td>{{ movie.duration }}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </section>
  </main>
</body>
{% endblock %}
