* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    filter: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("/static/assets/Background_Ninja.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

header {
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

/*
    # -------------------------- #
    | Logo - Icon Up-Left corner |
    # -------------------------- #
*/

.logo{
    bottom: 20px;
    font-size: 2em;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    user-select: none;
}

/*
    # -------------- #
    | Navigation Bar |
    # -------------- #
*/

.navigation a {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: -15px;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

/*
    # --------------------------- #
    | Navigation Bar - Search Bar | 
    # --------------------------- #
*/

.navigation .search-bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 100px;
    width: 30px;
    height: 40px;
    background: #fff;
    right: 100px;
    border-radius: 7px;
    padding: 10px 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
    transition: width 0.7s ease-in-out;
}

.navigation .search-bar:hover {
    width: 400px;
    transform-origin: right;
}

.navigation .search-bar input {
    width: 100%;
    height: 100%;
    color: #ad3c3c;
    font-size: 18px;
    margin-left: -9px;
    border: none;
    outline: none;
    background: transparent;
}

.navigation .search-bar .search-btn {
    background-color: transparent;
    border: none;
    outline: none;
}

.navigation .search-bar .search-btn i {
    font-size: 20px;
    margin-top: 5px;
    color: #ad3c3c;
    cursor: pointer;
}

/*
    # --------- #
    | Home Page |
    # --------- #
*/

.home-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    background: url('/static/assets/Background_Ninja.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
}

.home-container .home-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.home-content .home-logo {
    font-size: 60px;
}

.home-content h2 i {
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.home-text-sci h2 {
    font-size: 40px;
    line-height: 1;
}

.home-text-sci h2 span {
    font-size: 25px;
}

.home-text-sci p {
    font-size: 16px;
    margin: 20px 0;
}

.home-social-icons a i {
    font-size: 22px;
    color: #e4e4e4;
    margin-right: 10px;
    transition: .5s ease;
}

.home-social-icons a:hover i {
    transform: scale(1.2);
}

/*
    # ---------- #
    | Pagination |
    # ---------- #
*/

.pagination-container {
    display: flex;
    width: 80%;
    height: 5%;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2);
}

.pagination {
    display: flex;
    align-items: center;
    background: transparent;
    color: #e4e4e4;
    padding: 10px 40px;
    border-radius: 6px;
}

.pagination ul {
    margin: 20px 30px;
}

.pagination ul li{
    display: inline-block;
    margin: 0 10px;
    width: 35px;
    height: 3%;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 35px;
    cursor: pointer;
    background-position: 0 -45px;
    transition: background-position 0.5s ease-in-out
}

.pagination ul li.active {
    color: #fff;
    background-image: linear-gradient(#ad3c3c,#ad3c3c);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.pagination .btn1, .btn2 {
    display: inline-flex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    color: #e4e4e4;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.pagination .btn1 img {
    width: 24px;
    margin-right: 15px;
    transform: rotate(180deg);
}

.pagination .btn2 img {
    size: 12px;
    width: 24px;
    margin-left: 15px;
}

/*
    # ----------------------------------------------------------------- #
    | Table Styling - Listing of Movies, Tv Shows, Actors and Directors |
    # ----------------------------------------------------------------- #
*/

.show-details { /* TO IMPLEMENT THE REST */
    justify-content: center;
    align-items: center;
    align-content: center;
}

.banner-no-results {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.banner-no-results img {
    block-size: 90%;
    border-radius: 8px;
    margin-top: 60px;
    justify-content: center;
    overflow: auto;
}

.results {
    height: 75%;
    width: fit-content;
    padding-bottom: 115px;
    text-align: center;
    background-color: #792727;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

main.table {
    width: auto;
    height: 500px;

    margin-top: 15%;

    border-collapse: collapse;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 0.4rem .8rem #0005;
    border-radius: .8rem;
    overflow-y: hidden;
    /* overflow: hidden; */
}

main.table section.table__header {
    width: 100%;
    height: 10%;
    color: #ffffff;
    background-color: #ad3c3c;
    padding: 5px;
    padding-top: 18px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    overflow: auto;
}

main.table section.table__body {
    display: flex;
    width: 85%;
    height: 85%;
    padding: 0 0px 20px 0;
    max-height: calc(85% - 16px);
    margin: 5px auto;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #fffb;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

main.table section.table__body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

main.table section.table__body::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #0004;
    visibility: hidden;
}

main.table section.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

main.table section.table__body table thead th {
    top: 0;
    left: 0;
    color: #f2f2f2;
    background-color: #eb9191;
}

main.table section.table__body table, thead, th, td {
    border-collapse: collapse;
    padding: 12px 15px;
    text-align: left;
}

main.table section.table__body table tbody tr td a {
    color: #eb9191;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    z-index: 0;
}

main.table section.table__body table tbody tr:nth-child(even){
    background-color: #0000000b;
}

main.table section.table__body table tbody tr:hover td a,
main.table section.table__body table tbody tr:hover{
    font-weight: bold;
    color: #792727;
    border: none;
    outline: none;
    background-color: rgba(255, 209, 220, 0.25);
    font-display: none;
    overflow: hidden;
}

/*
    # -------------------------------- #
    | Movies / TVshows Individual Page |
    # -------------------------------- #
*/

section.content {
    width: 80%;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    overflow: hide;
}

section.show-desc{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 63%;
    height: 100%;
    padding: 80px;
    background: transparent;
    color: #e4e4e4;
    justify-content: space-between;
    flex-direction: column;
}

.show-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    background: url('/static/assets/Background_Sunset.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
}

.show-container .show-content {
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 50px 80px 90px 80px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.show-content .show-logo {
    font-size: auto;
    width: fit-content;
}

.show-content h2 i {
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.show-text-sci h2 {
    font-size: 40px;
    line-height: 1;
}

.show-text-sci h2 span {
    font-size: 15px;
    font-weight: bold;
}

.show-text-sci p {
    font-size: 16px;
    margin: 20px 0;
}

.show-text-sci p p-bold {
    font-weight: bold;
    text-indent: 6px;
}

/*  CORRECT BELLOW */

section.show-desc h1 {
    font-size: 48px;
    font-weight: bold;
    color: #e4e4e4;
    border-radius: 8px;
}

section.show-desc h2 {
    font-size: 32px;
    font-weight: bold;
    color: #e4e4e4;
    border-radius: 8px;
}

section.show-staff {
    display: flex;
    vertical-align: middle;
    margin: 50px 0 50px 0;
    align-content: center;
    justify-content: right;
}

.people-details {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    justify-content: center;
    transform: translate(0%, 0%);
}